@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$phone: 478px;

:root {
    --primary-color: #DD2424;
}

* {
    font-family: 'Poppins', sans-serif;
    transition: all .2s ease-in-out;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

#getintouch {
    position: fixed;
    top: 3rem;
    right: 3rem;

    &:hover {
        font-size: larger;
    }
}

/*******HEADER*******/
#header {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(128, 128, 128, 0.212);

    .social {
        a:hover {
            color: var(--primary-color)
        }
    }
}

/*************Navbar*********/
#navbar {
    transform: translateX(100%);


    a {
        position: relative;
        -webkit-text-stroke: 1px #fff;
        font-weight: bold;
        padding: 0 10px;
        text-align: center;

        &:hover {
            color: #fff;
        }

    }
}

#navbar.active {
    transform: translateX(0);
}

/*****************Main*********/
#main {
    #profile_img {
        width: 376px;

        @media (min-width: 770px) {
            width: 700px;
        }

        @media (max-width: 428px) {
            width: 290px;
        }
    }

    .main-title {
        margin-left: 6em;
        margin-bottom: 12em;

        @media (min-width: 772px) {
            margin: 0;
        }

      
    }
}