@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --primary-color: #DD2424;
}

* {
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

#getintouch {
  position: fixed;
  top: 3rem;
  right: 3rem;
}
#getintouch:hover {
  font-size: larger;
}

/*******HEADER*******/
#header {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(128, 128, 128, 0.212);
}
#header .social a:hover {
  color: var(--primary-color);
}

/*************Navbar*********/
#navbar {
  transform: translateX(100%);
}
#navbar a {
  position: relative;
  -webkit-text-stroke: 1px #fff;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
}
#navbar a:hover {
  color: #fff;
}

#navbar.active {
  transform: translateX(0);
}

/*****************Main*********/
#main {
  justify-content: space-between;
}
@media screen and (max-width: 1160px) {
  #main {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  #main {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
#main .main-title {
  width: 50%;
}
#main .main-title .line {
  height: 180px;
}
@media screen and (max-width: 770px) {
  #main .main-title .line {
    height: 140px;
  }
}
@media screen and (max-width: 1160px) {
  #main .main-title {
    width: 100%;
  }
}
#main .image {
  width: 50%;
  justify-self: end;
}
@media screen and (max-width: 1160px) {
  #main .image {
    width: 100%;
    justify-self: end;
  }
}
@media screen and (max-width: 600px) {
  #main .image {
    justify-self: end;
  }
}

/***************About**********/
@media screen and (max-width: 1100px) {
  #about .container #about-info {
    flex-direction: column;
  }
}
#about .container #about-info #image,
#about .container #about-info #info {
  width: 50%;
}
@media screen and (max-width: 1100px) {
  #about .container #about-info #image,
  #about .container #about-info #info {
    width: 100%;
  }
}
#about .container #about-info #info .list-group {
  flex-direction: row;
  font-size: 1.1rem;
}
@media screen and (max-width: 700px) {
  #about .container #about-info #info .list-group {
    flex-direction: column;
  }
}
@media screen and (max-width: 468px) {
  #about .container #about-info #info .list-group {
    font-size: 1rem;
  }
}

/*************Skills*************/
#skills #list {
  flex-direction: row;
}
@media screen and (max-width: 700px) {
  #skills #list {
    flex-direction: column;
  }
}
#skills #list .list-item-1,
#skills #list .list-item-2 {
  width: 50%;
}
@media screen and (max-width: 700px) {
  #skills #list .list-item-1,
  #skills #list .list-item-2 {
    width: 100%;
  }
}
#skills #list .list-item-1 .item,
#skills #list .list-item-2 .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
#skills #list .list-item-1 .item .item-title,
#skills #list .list-item-2 .item .item-title {
  display: flex;
  justify-content: space-between;
}
#skills #list .list-item-1 .item .line,
#skills #list .list-item-2 .item .line {
  position: relative;
  width: 100%;
  height: 8px;
  background: #ff7b7b;
}
#skills #list .list-item-1 .item .line::before,
#skills #list .list-item-2 .item .line::before {
  content: "";
  position: absolute;
  height: 100%;
  background: #DD2424;
}
#skills #list .list-item-1 .item .line.line-html::before,
#skills #list .list-item-2 .item .line.line-html::before {
  width: 100%;
}
#skills #list .list-item-1 .item .line.line-stylesheet::before,
#skills #list .list-item-2 .item .line.line-stylesheet::before {
  width: 80%;
}
#skills #list .list-item-1 .item .line.line-js::before,
#skills #list .list-item-2 .item .line.line-js::before {
  width: 70%;
}
#skills #list .list-item-1 .item .line.line-framework::before,
#skills #list .list-item-2 .item .line.line-framework::before {
  width: 73%;
}
#skills #list .list-item-1 .item .line.line-java-php::before,
#skills #list .list-item-2 .item .line.line-java-php::before {
  width: 60%;
}
#skills #list .list-item-1 .item .line.line-sql::before,
#skills #list .list-item-2 .item .line.line-sql::before {
  width: 65%;
}
#skills #list .list-item-1 .item .line.line-cms::before,
#skills #list .list-item-2 .item .line.line-cms::before {
  width: 90%;
}
#skills #list .list-item-1 .item .line.line-photoshop::before,
#skills #list .list-item-2 .item .line.line-photoshop::before {
  width: 55%;
}

/*************RESUME**************/
#resume #resume-body {
  flex-direction: row;
}
@media screen and (max-width: 900px) {
  #resume #resume-body {
    flex-direction: column;
  }
}
#resume #resume-body .title {
  margin-bottom: 16px;
}
#resume #resume-body h3 {
  color: var(--primary-color);
}
#resume #resume-body i {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff7b7b;
  font-size: 1.2rem;
}
#resume #resume-body .icon {
  align-items: center;
  margin-bottom: 12px;
}
#resume #resume-body .icon .title-info {
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 10px;
  color: #ff7b7b;
}
#resume #resume-body .info {
  padding-left: 40px;
  border-left: 2px solid #ff7b7b;
}/*# sourceMappingURL=custom.css.map */